@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');
:root{
    --fontes: italic bold 1.8em 'Lobster Two', cursive;
}
*{
    color: rgb(127, 57, 207);
    margin: 0px;
}
#zero{
    background-color: rgba(0, 0, 0, 0.733);
    font: var(--fontes);
    border: 1px solid rgb(127, 57, 207);
    position: absolute;
    max-width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
}
#one{
    position: absolute;
    width: 80%;
    height:88%;
    top: 50%;
    left: 50%;
    background-color: black;
    transform: translate(-50%,-50%);
}
#corpo{
    position: relative;
    height: 90vh;
    width: 100%;
    background-color: black;
}
#ccc{
    width: 100%;
    height: 100%;
    position: relative;
}