@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');
:root{
    --fontes: italic bold 1em 'Lobster Two', cursive;
}
*{
    color: white;
    margin: 0px;
}
#zero{
    background-color: black;
    font: var(--fontes);
    border: 1px solid white;
}
#one{
    position: absolute;
    width: 80%;
    height:88%;
    background-color: black;
    background-position: center center;
    text-align: center;
}
#corpo{
    position: relative;
    height: 90vh;
    width: 100%;
    background-color: black;
}